@import 'vars';
header{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--grey);
    height: 60px;
}
.menu{
    display: none;
}

.logo{
    width: 100px;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;

}
.navbar{
    display: flex;
}

.navbar ul{
    margin-left: 12px;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--cold);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
}

@media (max-width: 640px) {
    /*Estilos para el header */
    .menu{
        display: block;
    }
    .navbar ul{
        display: none;
    }

    .navbar-email {
        display: none;
    }
    /*Fin de estilos header*/
}